ion-header {
    background: transparent;
    //ion-title{
    //text-align: center;
    //font-family: lato;
    //color: #fff
    // }
    ion-item {
      --background: transparent;
      ion-avatar {
        background: white;
      }
    }  
}

ion-content{
    * {
        font-family: lato;
    }
    .main-header {
        height: 45vh;
        width: 150%;
        background: linear-gradient(90deg, var(--ion-color-secondary) 10%, var(--ion-color-secondary-tint) 100%);
        box-shadow: 0 1px 10px var(--ion-color-light);
        border-radius: 0 0 50% 50%;
        margin-left: -14vh;
        margin-top: -60px;
      }
      ion-grid {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(10vh);
        padding-bottom: 8vh;

    }
}