<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-menu-button fill="clear" slot="start"
        color="light"></ion-menu-button>
    <ion-avatar slot="end" [routerLink]="['/', 'profile']"
        routerLinkActive="selected">
        <img
            src="https://th.bing.com/th/id/OIP.99PbJ6dXyt27BRk70vSsfgHaHa?rs=1&pid=ImgDetMain" />
    </ion-avatar>
</ion-item>
<ion-item lines="none">
  <div>
    Em Manutenção
  </div>
</ion-item>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="ion-padding">
    <ion-card>
      <ion-card-title>---</ion-card-title>
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
